In [2]:
import numpy 
import pandas

In [3]:
db=pandas.read_csv("Salary.csv")
db

    Years  Salary
0     1.1   36524
1     1.3   46205
2     1.5   37331
3     2.5   39381
4     2.2   45966
5     2.9   75466
6     3.4   85551
7     3.2   85473
8     3.2   81025
9     3.7   86125
10    3.9   87525
11    4.5   89000
12    4.4   74586
13    4.1   80596
14    4.9   89999
15    5.1   95200
16    5.3   95000

In [4]:
y=db['Salary']

In [5]:
x=db['Years'].values.reshape(17,1)

In [6]:
x.shape

(17, 1)

In [7]:
type(x)

numpy.ndarray

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model=LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
print(model.predict([[2.5]]))

[59725.8637601]

In [12]:
import joblib

In [13]:
joblib.dump(model,"MLmodel")

['MLmodel']